<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Java Web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>hello</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>ServletDemo</servlet-name>
  	<servlet-class>servlet.ServletDemo</servlet-class>
  	
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>root</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletDemo</servlet-name>
  	<url-pattern>/servletDemo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HttpServletDemo</servlet-name>
  	<servlet-class>servlet.HttpServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HttpServletDemo</servlet-name>
  	<url-pattern>/httpServletDemo</url-pattern>
  </servlet-mapping>
</web-app>